/* Burn the box down and then rebuild it. */
* { box-sizing: border-box; }

body {
  /*background: #000;*/
}

/* Brand colors. */
.twitch { background-color: #6441a5 }
.github { background-color: #4183c4 }
.freelance {}
.automattic { background-color: blue }
.facebook { background-color: #3b5998 }

/* Brand marks. */
.company-logo { width: 50px; height: 50px; }
.twitch .company-logo { background-image: url('assets/svg/twitch.svg'); }
.github .company-logo { background-image: url('assets/svg/github.svg'); }
.automattic .company-logo { background-image: url('assets/svg/wordpress.svg'); }
.facebook .company-logo { background-image: url('assets/svg/facebook.svg'); }
